<footer class="footer">
    <div class="footer-upper-bar">
        <div class="footer-upper-bar-logo-n-slogan">
            <p class="footer-logo poppins">3lefant</p>
            <div class="footer-upper-bar-line"></div>
            <p>Магазин подарунків і декорацій</p>
        </div>
        <div class="footer-upper-bar-nav">
            <a href="/">Головна</a>
            <a href="/shop">Магазин</a>
            <a href="/blog">Блог</a>
            <a href="/contacts">Контакти</a>
        </div>
    </div>
    <div class="footer-bottom-bar">
        <div class="footer-bottom-bar-social-icons">
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footer-bottom-bar-terms">
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
        </div>
        <p class="footer-bottom-bar-copyright">Copyright © 2024 3lefant. All rights reserved</p>
    </div>
</footer>