<nav>   
    <div class="main-menu">
        <div id="bg-shadowing" class="hide"></div>
        <div class="left-nav-panel">
            <div id="burger" class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <p class="logo poppins">3lefant</p>
        </div>
        <div class="pc-menu hide">
            <ul>
                <li><a href="/" style="color:black">Головна</a></li>
                <li><a href="/shop" class="grey-font">Магазин</a></li>
                <li><a href="/blog" class="grey-font">Блог</a></li>
                <li><a href="/contacts" class="grey-font">Контакти</a></li>
            </ul>
        </div>
<!--burger-->
        <div class="phone-menu hide">
            <div class="phone-menu-top">
                <div class="phone-menu-top-logo">
                    <p class="poppins">3lefant</p>
                    <i class="fa-solid fa-x burger-menu-close grey-font"></i>
                </div>
                <div class="phone-menu-top-search">
                    <form action="/shopSearch" method="post">
                        <input
                            type="text"
                            name="search"
                            placeholder="Шукати"
                            >
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="phone-menu-top-menus">
                    <a href="/">Головна</a>
                    <a href="/shop">Магазин</a>
                    <a href="/blog" class="grey-font">Блог</a>
                    <a href="/contacts">Контакти</a>
                </div>
            </div>
            <div class="phone-menu-bottom">
                <div class="phone-menu-bottom-cart">
                    <a href="/account">Кошик</a>
                    <div class="phone-menu-bottom-cart-count">
                        <a href="/account"><i class="fa-solid fa-cart-shopping"></i></a>
                        <div class="cart-count">
                            <span>0</span>
                        </div>          
                    </div>
                </div>
                <div class="phone-menu-bottom-wishlist">
                    <a href="/account">Вподобане</a>
                    <div class="phone-menu-bottom-wishlist-count">
                        <i class="fa-regular fa-heart"></i>
                        <div class="cart-count">
                            <span>0</span>
                        </div>          
                    </div>
                </div>
                <a class="phone-menu-sign-in" href="/SignIn">Зареєструватись</a>
                <div class="phone-menu-social-icons">
                    <a><i class="fa-brands fa-instagram"></i></a>
                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="right-nav-panel">
            <form action="/shopSearch" method="post" class="search hide">
                <input
                    type="text"
                    name="search"
                    placeholder="Шукати" 
                >
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="account hide">
                <a href="/account"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="cart-btn">
                <a href="/account"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="cart-count">
                <span>0</span>
            </div>                       
        </div>
    </div>
</nav>