<section class="newsletter-signup">
    <div class="newsletter-signup-content">
        <p class="newsletter-signup-big-text poppins">Приєднуйтесь до новин</p>
        <p class="newsletter-signup-text">Пропозиції, нова продукція та інше</p>
    </div>
    <form class="newsletter-signup-form">
        <span><i class="fa-regular fa-envelope"></i></span>
        <input type="email" placeholder="Email адреса" autocomplete="email">
        <button onclick="alert('Запит на розсилку надіслано\nдякуємо, що ви з нами')">Зареєструвати</button>
    </form>
</section>