<div class="notification">
    <p class="notification-text"> -30% на всі товари - обмежений час! <a href="/shop" class="notification-url hide line">Купити зараз -></a></p>
    <div class="notification-x-mark">
        <i class="fa-solid fa-x" id="notification-close"></i>
    </div>
</div>