<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&subset=cyrillic&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
        <title>Registation</title>
    </head>
<body>
    <div class="sign-container">
        <div class="sign-image-placeholder">
            <p><a href="/">3lefant</a></p>
        </div>
        <form class="reg-form">
            <h1>Реєстрація</h1>
            <p>Вже маєте акаунт? <a href="/signIn" class="another-form">Увійти</a></p>
            <input type="text" id="reg-name" placeholder="Ваше ім'я" required>
            <input type="text" id="reg-nickname" placeholder="Нікнейм" required>
            <input type="email" id="reg-email" placeholder="Email адреса" required>
            <input type="password" id="reg-password" placeholder="Пароль" required>
            <input type="radio" id="reg-radio" required>
            <div>
                <span class="grey-font">Я погоджуюсь з </span>
                <p>Політикою приватності</p>
                <span class="grey-font">та</span>
                <p>Правилами користування</p>
            </div>
            <button type="submit"  class="sign-form-button"><a href="/">Зареєструватись</a></button>
        </form>
    </div>
</body>
</html>